.design {
  font-size: 38px;
  margin: 0px 25px;
  font-family: serif;
  padding: 20px 30px;
}

/* .start{
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0px;

}
.headline{
  font-family: system-ui;
  font-weight: 500;
  color: #9f9f9f;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  gap: 20px !important;
  
}
.start3{
  color: #9f9f9f;
}
.box2{
  width: 100%;
  height: 13vh;
  font-weight: 700;
  color: white;
  background-color:#00b3b8;
  justify-content: space-evenly;
}

.headline2{
  align-items: center;
  gap: 35px;
}

.searchb1{
  width: 260px;
  height: 50px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  margin: 14px 0px;
  border: 1px solid;
  color: white;
  display: flex;
  align-items: center;
  gap: 19px;
  background-color:#00000000;

}
.headline2{
  align-items: center;
  gap: 35px;
}
.icon3{
  display: flex;
  align-items: center;
  font-size: larger;
} */
 
.gopal{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.kidscard {
  width: 20%;
}
.boxalign {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 10px;
}
.kidsimg{
    width: 100%;
    height: 50vh;
}
.amount{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.strike{
    font-size: 14px;
    text-decoration: line-through;
}
.star1{
    color: orange !important; 
}

.kidscard1{
    display: flex;
    justify-content: space-evenly;
  }

  .presentage{
    border: 1px solid #757474;
    width: 74px;
    border-radius: 3px;
    height: 25px;
    color: #757474;
}

.lasttop{
  height: 20vh;
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  display: flex;

}
.lasttop1{
  width: 25%;
}

.lasttop2{
  width: 30%;
}

.lasttop3{
  width: 30%;
}

.searchb3{
  width: 280px;
  height: 50px;
  text-align: center;
  border: 1px solid rgb black;
  border-radius: 10px;
  margin: 14px 0px;
  border: 1px solid;
  color: black;
  display: flex;
  align-items: center;
  gap: 19px;
  background-color:#00000000;

}
.searchb4{
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 700; 

}

.mediaicon{
  font-size: 40px;
  gap: 30px;
}
.lastfull{
  height: 25vh;
  width: 100%;
  background-color: #c4feff;
}
.lastlogo{
  font-size: 66px;
}
.last1{
  display: flex;
  margin-top: 15px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0px 80px;
}
.detailsfull{
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.details1{
  display: flex;
  flex-direction: column;
  gap: 10px !important;
}
.paymentlogo{
  height: 40px;
  width: 100px;
}
